body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1{
  text-align: left;
  color: #142850;
  margin-bottom: 0;
  font-size: 3.5rem;
}
P{
  color: #ffffff;
}

/* ----- TOP ----- */

.top{
  padding: 2% 5% 5% 5%;
  background-color: #00b8a9;
  position: relative;
}

.logo{
  width: 110px;
  height: 110px;
  position: absolute;
  top: 15%;
  left: 5%;
}

.name{
  padding-left: 120px;
  margin-bottom: 0;
}

p.name{
  margin-top: 0;
  padding-top: 0;
}

.home{
  float:right;
  background-color: #00b8a9;
  margin-bottom: 0;
}

.user{
  color: #ffffff;
}
/* ----- Middle ----- */

.middle{
  padding: 3% 5% 1% 5%;
  text-align: center;
  margin-bottom: 100px;
}

.form{
  line-height: 1.5;
  text-align: left;
}

input{
  margin-bottom: 10px;
}
 .form-head{
   margin-bottom: 20px;
 }
.form{
  padding:20px 0 20px 20px;
}

.form-border{
  width: 90%;
  margin:0 auto;
  background-color: rgb(240, 240, 240);
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.bg{
  background-color: white;
}

.line{
  border-left: 1px solid grey;
}

.work{
  margin-bottom: 30px;
}

.fresher{
  margin: 5px 20%;
  background-color: #0f4c75;
  color: #FFF;
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 1.5rem;
}
.inter{
  margin: 5px 20%;
  background-color: #0f4c75;
  color: white;
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 1.5rem;
}
.elite{
  margin: 5px 20%;
  background-color: #0f4c75;
  color: white;
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 1.5rem;
}

a{
  color: #fff;
}

a:hover{
  color: #5fdde5;
}

/* ----- FOOTER ------ */

.footer{
  padding: 10px 20%;
  background-color: #00b8a9;
  text-align: center;
}

.contact{
  border-left: 2px solid #0f4c75;
  text-align: center;
}

.faq{
  border-left: 2px solid #0f4c75;
  text-align: center;
}


                  /* ========LOGIN PAGE======= */


.top-login{
  height: 30vh;
}
.login{
  background-image: -webkit-linear-gradient(60deg, #00b8a9 20%, white 80%);
  min-height: 70vh;
  position: relative;
}


.login-form{
  text-align: center;
  width: 25%;
  background-color: rgb(240, 240, 240);
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  margin-left: -140px;
  top:50%;
  margin-top: -75px;
}


                     /* ===== MEDIA QUERY ===== */
@media screen and (max-width: 1000px) {

  .line{
    border-left: none;
    margin-top: 200px;
  }

  .top{
    height: 15vh;
  }

  .middle{
    height: 75vh;
  }

  .footer{
    height: 5vh;
  }
  .name{
    margin-top: 3%;
  }

  .login{
    background-color: white;
  }

  .form-head{
    margin-top: 100px;
  }

  .top-login{
    height: 15vh
  }

  .login{
    height: 85vh;
  }

  .login-form{
    width: 50%;
    height: 240px;
    padding-top: 50px;
    top: 25%;
    margin-top: 0;
    left: 50%;
    margin-left: -245px;
  }

}
